<!DOCTYPE html>
<html>
<head>
  <title>Form Submission Success</title>
</head>
<body>
  <h1>Form Submission Success</h1>
  <p>Hello, <%= name %>!</p>
  <p>Hello, <%= email %>!</p>
  <p>Hello, <%= password %>!</p>
</body>
</html>